{% set msg = message %}
{% set msg_type = msg | message_pure_type -%}

{% set builtin = "" %}

{% if msg_type == 'Int8' %}
    {% set builtin = "std::int8_t" %}
{% elif msg_type == 'Uint8' %}
    {% set builtin = "std::uint8_t" %}
{% elif msg_type == 'Int16' %}
    {% set builtin = "std::int16_t" %}
{% elif msg_type == 'Uint16' %}
    {% set builtin = "std::uint16_t" %}
{% elif msg_type == 'Int32' %}
    {% set builtin = "std::int32_t" %}
{% elif msg_type == 'Uint32' %}
    {% set builtin = "std::uint32_t" %}
{% elif msg_type == 'Float' %}
    {% set builtin = "float" %}
{% endif %}

/* Builtin: {{ msg_type }} */

static std::pair<{{ builtin }}, std::size_t> read(std::span<char> buf, Type<{{builtin}}>) {
    return {*({{ builtin }}*) buf.data(), sizeof({{ builtin }})};
}