{% set msg = message %}
{% set msg_type = msg | message_pure_type -%}

{% macro render(type) %}
{% if type == 'Int8' %}
    {% block Int8 -%}
    using {{ msg | message_type }} = s8;
    {%- endblock %}
{% elif type == 'Uint8' %}
    {% block Uint8 -%}
    using {{ msg | message_type }} = u8;
    {%- endblock %}
{% elif type == 'Int16' %}
    {% block Int16 -%}
    using {{ msg | message_type }} = s16;
    {%- endblock %}
{% elif type == 'Uint16' %}
    {% block Uint16 -%}
    using {{ msg | message_type }} = u16;
    {%- endblock %}
{% elif type == 'Int32' %}
    {% block Int32 -%}
    using {{ msg | message_type }} = s32;
    {%- endblock %}
{% elif type == 'Uint32' %}
    {% block Uint32 -%}
    using {{ msg | message_type }} = u32;
    {%- endblock %}
{% elif type == 'Float' %}
    {% block Float -%}
    using {{ msg | message_type }} = float;
    {%- endblock %}
{% endif %}
{% endmacro %}

// Builtin: {{ msg_type }}
{{ render(msg_type) }}
