{% block hashtype %}
{% if data.protocol_hash_bytes_count == 1 %}
    {% block HashCount1 -%}
    u8
    {%- endblock %}
{% elif data.protocol_hash_bytes_count == 2 %}
    {% block HashCount2 -%}
    u16
    {%- endblock %}
{% elif data.protocol_hash_bytes_count == 4 %}
    {% block HashCount4 -%}
    u32
    {%- endblock %}
{% elif data.protocol_hash_bytes_count == 8 %}
    {% block HashCount8 -%}
    u64
    {%- endblock %}
{% endif %}
{% endblock -%}
{% block hash_assignment %}
 {{ name }}{% if is_assign %} = {{ data.protocol_hash }}{% endif %}
{%- endblock -%}
;